# Środowisko wirtualne
# ----------------------------------------
.venv/
env/
venv/

# ----------------------------------------
# Python cache
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Pliki tymczasowe / logi / bazy danych
# ----------------------------------------
*.log
*.db
*.sqlite3
/data/temp/

# ----------------------------------------
# IDE / edytory
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# System
# ----------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------
# Pliki środowiskowe / wrażliwe
# ----------------------------------------
.env%  

# ----------------------------------------
# Inne foldery i pliki
# ----------------------------------------
Documentation/
README.md

